.navigationWrapper {
    /* width: 272px;
    height: 56px; */
    background-color: transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    
}

.navigationWrapper:hover {
    background-color: #a097ca;
} 



.navigationTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #878787;
    margin-left: 24px;
}

.navigationItem {
    display: flex;
    align-items: center;
}