.navigationWrapper {
    /* width: 272px;
    height: 56px; */
    background-color: transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    
}


.navigationWrapper:hover .navigationImg {
    fill:#503E9D;
}

.navigationTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #878787;
    margin-left: 24px;
}

.navigationWrapper:hover {
    background-color: #a097ca;
} 

.navigationWrapper:hover .navigationTitle {
    color: #503E9D;
    font-weight: 700;
}

.iconSvg {
    fill: #878787;
}

.navigationWrapper:hover .iconSvg {
    fill: #503E9D;
}


.navigationItem {
    display: flex;
    align-items: center;
    padding-left: 15px;
}