.App {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    grid-template-areas: 
    "s h"
    "s c";
}

.header {
    grid-area: h;
    padding-left: 32px;
}

.sidebar {
    grid-area: s;
    background-color: #F8F8F8;
}

.main {
    grid-area: c;
    padding-left: 32px;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}

.channel-categories {
    display: flex;
    justify-content: space-between;
}

.news {
    margin-top: 38px;
}

.news-wrapper {
    display: flex;
    justify-content: space-between ;
}

.navigation {
    padding-top: 30px;
}

.navigation-left {
    display: flex;
    justify-content: space-between;
    width: 500px;
}