.App {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 304px 1fr;
    grid-template-rows: 100px 1fr;
    height: 100vh;
    grid-template-areas: 
    "s h"
    "s c";
}

.header {
    grid-area: h;
    padding-left: 32px;
}

.sidebar {
    grid-area: s;
    background-color: #F8F8F8;
    border-radius: 0px 24px 24px 0px;
}

.main {
    grid-area: c;
    padding-left: 32px;
}

.block-content {
    display: grid;
    grid-template-columns: repeat(3, 336px);
    gap: 32px;
}

.channels {
    margin-bottom: 40px;
}

.channel-categories {
    display: flex;
    justify-content: space-between;
}

.news {
    margin-top: 38px;
}

.news-wrapper {
    display: flex;
    justify-content: space-between ;
}

.navigation {
    padding-top: 30px;
    display: flex;
}

.navigation-left {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-right: 62px;
}


.navigation-right {

    display: flex;
    justify-content: space-between;
}

.header-form {
    position: relative;

}

.header-input {
    border-style: none;
    width: 385px;
    height: 48px;
    padding-left: 50px;
    border-radius: 10px;
    background: #F7F7F7;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #626264;
}

.header-form::before {
    background-image: url('./assets/images/search.svg');
    position: absolute;
    display: block;
    content:"";
    background-repeat: no-repeat;
    top: 14px;
    left: 18px;
    width: 20px;
    height: 20px;
}

.header-input:active, :focus {
    outline:none;
}

.header-btn {
    width: 48px;
    height: 48px;
    margin: 0px 16px 0px 16px;
}

.client-img {
    width: 48px;
    height: 48px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    padding: 33px 15px 32px;
}

.navigationList {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width:272px;
    height: 472px;
    margin: 0;
    padding-left: 15px;
    border-bottom: 2px solid #E8E8E8;
}

.navigationList:last-child {
    margin-top: 30px;
}

.navigationLink {
    text-decoration: none;
}

.asideCard {
    width: 240px;
    height: 324px;
    border-radius: 20px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 32px 96px -8px rgba(0, 0, 0, 0.06);
    margin: 24px 32px 0 32px;

}

.cardWrapper {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-top: 32px;
}


.cardTitle {
font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #182135;
max-width: 176px;
margin-bottom: 8px;
}

.cardText {

font-family: 'Open Sans';
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #626264;
max-width: 176px;
margin-top: 0;
margin-bottom: 32px;
}

.cardButton {
position: relative;
background: #503E9D;
border-radius: 10px;
color: #FFFFFF;
font-family: 'Open Sans';
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 100%;
width:176px;
height :48px;
}

.cardButton::after {
    content: "";
    display: block;
    background-image: url('./assets/images/cardArrow.png');
    position: absolute;
    background-repeat: no-repeat;
    top: 17px;
    right: 3px;
    width: 16px;
    height: 13px;
}